.maindiv{
    background-color: rgb(241, 29, 65);
    width:99%;
    padding:10px;
    height: 100%;
    
}
.childdiv{
    background-color: pink;
    
    width:450px;
    height: 300px;
    position: relative;
    align-items: center;
    top:200px;
    left:30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family:kalam; 
    font-size:23px;
    padding:20px;
}
.textarea1{
    border-radius: 10px;
    border-style: none;
    border-color: none;
}